<header class="">
    <nav class="navbar navbar-expand-lg">
      <div class="container">

        <%= image_tag("logo.png", :hight=>"100", :width=>"100")%>
        <a class="navbar-brand" href="#">
          <h2>Chicky Cart</h2>
        </a>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <%= link_to 'Home', root_path, class: 'nav-link' %>
              <!-- <a class="nav-link" href="index.html">Home</a> -->
            </li>
            <li class="nav-item">
              <%= link_to 'About Us', about_path, class: 'nav-link' %>
              <!-- <a class="nav-link" href="about.html">About Us</a> -->
            </li>
            <li class="nav-item active">
              <%= link_to 'Contact Us', contact_path, class: 'nav-link' %>
              <!-- <a class="nav-link" href="contact.html">Contact Us</a> -->
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>

  <!-- Page Content -->
  <div class="page-heading header-text">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1>Contact Us</h1>
        </div>
      </div>
    </div>
  </div>

  <div class="contact-information">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="contact-item">
            <i class="fa fa-phone"></i>
            <h4>Call</h4>
            <p>We would love to hear from you. Here's how you can reach us:</p>
            <a href="#">041-xxxxxxx</a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="contact-item">
            <i class="fa fa-envelope"></i>
            <h4>Email</h4>
            <p>You can email your query on this email address:</p>
            <a href="#">chickycart@gmail.com</a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="contact-item">
            <i class="fa fa-message"></i>
            <h4>Message</h4>
            <p>Have any question you can feel free to message us at:</p>
            <a href="#">03xx-xxxxxxx</a>
          </div>
        </div>
      </div>
    </div>
  </div>


    <!-- Footer Starts Here -->
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-md-6 footer-item text-center">
          <h4>Poultry Farm Atomation</h4>
          <p>Gathering Seller And Buyer Of Poultry Product On <em>One Platform!</em></p>
          <ul class="social-icons">
            <li><a rel="nofollow" href="https://fb.com/templatemo" target="_blank"><i class="fa fa-facebook"></i></a>
            </li>
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
            <li><a href="#"><i class="fa fa-behance"></i></a></li>
          </ul>
        </div>
        <div class="col-md-6 footer-item text-center">
          <h4>Additional Pages</h4>
          <ul class="menu-list">
            <li><a href="#">About Us</a></li>
            <li><a href="#">How We Work</a></li>
            <li><a href="#">Contact Us</a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>