<div class="container emp-profile">
  <div class="row">
      <div class="col-md-4">
          <div class="profile-img">
            <%= image_tag 'dummy.jpg' %>
              
          </div>
      </div>
      <div class="col-md-6">
          <div class="profile-head">
                      <h5>
                          Ahmad Zunair
                      </h5>
                      <h6>
                          Web Developer and Designer
                      </h6>
                      <p class="proile-rating">RANKINGS : <span>8/10</span></p>
              <ul class="nav nav-tabs">
                  <li class="nav-item">
                      <a class="nav-link active">About</a>
                  </li>
              </ul>
          </div>
      </div>
  </div>
      <div class="row">
        <div class="col-md-4">
          <div class="profile-work">
            <p>Farm</p>
            <a href="">Farm Name</a><br/>
            <a href="">Address</a><br/>
            <a href=""></a>
            <p>products</p>
            <a href="">Type</a><br/>
            <a href="">No of Chicks</a><br/>
            <a href="">Weight</a><br/>
            <a href="">Price</a><br/>
            <a href="">XYZ</a><br/>
          </div>
        </div>
          <div class="col-md-8">
              <div class="tab-content profile-tab" id="myTabContent">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                  <div class="row">
                    <div class="col-md-6">
                      <label>User Id</label>
                    </div>
                    <div class="col-md-6">
                      <p>1</p>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <label>Name</label>
                    </div>
                    <div class="col-md-6">
                      <p>Ahmad Zunair</p>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <label>Email</label>
                    </div>
                    <div class="col-md-6">
                      <p>f190987@cfd.nu.edu.pk</p>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <label>Phone</label>
                    </div>
                    <div class="col-md-6">
                      <p>03147003329</p>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <label>Profession</label>
                    </div>
                    <div class="col-md-6">
                      <p>XYZ</p>
                    </div>
                  </div>
                </div>
              </div>
          </div>
      </div>     
</div>