<div class="main">
    <small><i class="fa fa-smile-o"></i></small>
    <div class="text">
        <h2>Farm</h2>
        <p>Farm Details for Client</p>
    </div>
    <div class="input-text">
        <div class="input-div">
            <input type="text" name="farm[farm_name]" placeholder="Farm Name">
            <span>Farm Name</span>
        </div>
        <div class="input-div">
            <input type="date" name="farm[year_of_establish]" class="form-control">
            <span>Year of Establish Farm</span>
        </div>
    </div>
    <div class="input-text">
        <div class="input-div">
            <input type="text" name="farm[village_name]"  placeholder="Village Name">
            <span>Village Name</span>
        </div>
    </div>
    <div class="input-text">
        <div class="input-div">
            <input type="text" name="farm[farm_address]" placeholder="Farm Address">
            <span>Farm Address</span>
        </div>
    </div>
    <div class="input-text">
        <div class="input-div">
            <select name="farm[bird_type]"> 
                <option value="">Bird Type</option>
                <option value="Chicken">Chicken</option>
                <option value="Turkeys">Turkeys</option>
                <option value="Ducks">Ducks</option>
                <option value="Guinea Fowl">Guinea Fowl</option>
            </select>
        </div>
    </div>
    <div class="input-text">
        <div class="input-div">
            <select name="farm[category]"> 
                <option value="">Category</option>
                <option value="Broiler">Broiler</option>
                <option value="Layer">Layer</option>
                <option value="Hatchery">Hatchery</option>
                <option value="Egg">Egg</option>
            </select>
        </div>
    </div>
    <div class="buttons button_space">
        <button class="back_button">Back</button>
        <button class="next_button">Next Step</button>
    </div>
</div>
