<fieldset>
    <h4>User Image</h4>
    <div class="circle">
            <%= f.file_field :image, accept: 'image/png,image/jpeg'%>
            <!-- <span><%#= image_tag 'dummy.jpg' %></span> -->
            
        </div>
    <div class="f1-buttons">
        <button type="button" class="btn btn-previous">Previous</button>
        <button type="submit" class="btn btn-submit">submit</button>
    </div>
</fieldset>


